
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  --normal-font-size: 16px;
  --larger-font-size: 18px;
  font-size: var(--normal-font-size);
}
body {
  text-align: center;
}
li {
  text-align: left;
}
button {
  cursor: pointer;
}

.section {
  padding: 10px;
}
.section pre {
  margin: 8px auto;
}
.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.header {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 2px solid black;
}
.footer {
  font-size: 12px;
  color: #505050;
}
.updated {
  color: green;

  opacity: 1;
}
.updated::after {
  content: "updated!";
}
.updated-fade-out {
  opacity: 0;
  transition: opacity 1s ease 0s;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0px;

  background-color: rgb(39,40,34);
  color: #ffffff;
}
.title {
  font-size: 80px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  margin: 1rem;
}
.subtitle {
  font-size: var(--larger-font-size);
  margin: 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}
.navbar a {
  color: white;
}
.navbar div {
  margin: 10px;
}

.instructions {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--larger-font-size);
  font-weight: bold;
  text-align: left;
}
.example-rendered {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f5f2f0;
}
.italic {
  font-style: italic;
}

.snippet {
  text-align: left;
}
.snippet .header {
  text-align: center;
}
.snippet select {
  font-size: var(--larger-font-size);
}
#snippetExample {
  padding: 5px;
}
#snippetLink button {
  font-size: var(--larger-font-size);
}

#exampleRow > auto-card-image {
  margin: 0px 1em;
}

auto-card-image img {
  max-height: 311px;
}

@media (max-width: 500px) {
  #exampleRow {
    display: none;
  }
}
