
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  text-align: center;
  --normal-font-size: 16px;
  --larger-font-size: 18px;
  font-size: var(--normal-font-size);
}

.section {
  padding: 20px;
}
.section pre {
  margin: 8px auto;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.header {
  font-weight: bold;
  font-size: 20px;
}

.hero {
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(39,40,34);
  color: #ffffff;
}
.title {
  font-size: 80px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.subtitle {
  font-size: 20px;
}

.library div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.library .example {
  padding-top: 10px;
  padding-bottom: 10px;
}
.library .instructions {
  text-align: left;
}
.library .example-rendered {
  text-align: center;
  background-color: #f5f2f0;
}

.snippet div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.snippet select {
  font-size: var(--larger-font-size);
}
#snippetExample {
  padding: 5px;
}
#snippetLink button {
  font-size: var(--larger-font-size);
}
