
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  text-align: center;
  --normal-font-size: 16px;
  --larger-font-size: 18px;
  font-size: var(--normal-font-size);
}

.section {
  padding: 10px;
}
.section pre {
  margin: 8px auto;
}
.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.header {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 2px solid black;
}
.footer {
  font-size: 12px;
  color: #505050;
  border-top: 1px solid #909090;
}

.hero {
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(39,40,34);
  color: #ffffff;
}
.title {
  font-size: 80px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.subtitle {
  font-size: 20px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}
.navbar div {
  width: 200px;
  margin: 0px auto;
}

.library .example-block {
  padding-top: 30px;
  padding-bottom: 30px;
}
.library .instructions {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--larger-font-size);
  font-weight: bold;
  text-align: left;
}
.library .example-rendered {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f5f2f0;
}

.snippet select {
  font-size: var(--larger-font-size);
}
#snippetExample {
  padding: 5px;
}
#snippetLink button {
  font-size: var(--larger-font-size);
}
